{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Render engine: makes IE (or the Chrome Frame) use the earliest versio): h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <!-- Description -->
    <meta name="description" content="Tennis Ranking">
    <meta name="keywords" content="tennis, ranking, lima, perú, peru, tenis, tabla de resultados, ranking de tennis, ranking de tennis en lima, turno mañana, mañana, tennis turno mañana">
    <!-- Mobile-device optimization: fixes site's scale -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Twitter's Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <!-- Bootstrap-datepicker -->
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
    <title>Ranking</title>
</head>

<body>
  <body>

    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">{% block contenttitle %}{% endblock %}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="menu-item-ranking"><a href="{% url 'ranking' %}">Tabla</a></li>
            <li id="menu-item-duels"><a href="{% url 'duels' %}">Retos</a></li>
            <li id="menu-item-results"><a href="{% url 'home' %}">Resultados</a></li>
            <li id="menu-item-contacts"><a href="{% url 'home' %}">Contactos</a></li>
            <li id="menu-item-stats"><a href="{% url 'home' %}">Estadística</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        {% block content %}{% endblock %}
      </div>
    </div><!-- /.container -->

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // Menu-item activation
        var selected_menu_item = '{% block selectedmenuitem %}{% endblock %}';
        $('#menu-item-' + selected_menu_item).addClass('active');
        // Boostrap-datepicker initializer
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });
    })
    var selected_menu_item = 'ranking';
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
