{% extends "ranking/base.html" %}
{% block selectedmenuitem %}ranking{% endblock %}
{% block contenttitle %}Tabla de posiciones{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <h3>Ranking</h3>
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <td>1</td>
        <td>Nombre 1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Nombre 2</td>
        <td>0</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Nombre 3</td>
        <td>0</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Nombre 4</td>
        <td>0</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Nombre 5</td>
        <td>0</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Nombre 6</td>
        <td>0</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Nombre 7</td>
        <td>0</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Nombre 8</td>
        <td>0</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Nombre 9</td>
        <td>0</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Nombre 10</td>
        <td>0</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Nombre 11</td>
        <td>0</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Nombre 12</td>
        <td>0</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Nombre 13</td>
        <td>0</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Nombre 14</td>
        <td>0</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Nombre 15</td>
        <td>0</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Nombre 16</td>
        <td>0</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Nombre 17</td>
        <td>0</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Nombre 18</td>
        <td>0</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Nombre 19</td>
        <td>0</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Nombre 20</td>
        <td>0</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Nombre 21</td>
        <td>0</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Nombre 22</td>
        <td>0</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Nombre 23</td>
        <td>0</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Nombre 24</td>
        <td>0</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Nombre 25</td>
        <td>0</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Nombre 26</td>
        <td>0</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Nombre 27</td>
        <td>0</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Nombre 28</td>
        <td>0</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Nombre 29</td>
        <td>0</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Nombre 30</td>
        <td>0</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Nombre 31</td>
        <td>0</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Nombre 32</td>
        <td>0</td>
      </tr>
      <tr>
        <td>33</td>
        <td>Nombre 33</td>
        <td>0</td>
      </tr>
      <tr>
        <td>34</td>
        <td>Nombre 34</td>
        <td>0</td>
      </tr>
      <tr>
        <td>35</td>
        <td>Nombre 35</td>
        <td>0</td>
      </tr>
      <tr>
        <td>36</td>
        <td>Nombre 36</td>
        <td>0</td>
      </tr>
      <tr>
        <td>37</td>
        <td>Nombre 37</td>
        <td>0</td>
      </tr>
      <tr>
        <td>38</td>
        <td>Nombre 38</td>
        <td>0</td>
      </tr>
      <tr>
        <td>39</td>
        <td>Nombre 39</td>
        <td>0</td>
      </tr>
      <tr>
        <td>40</td>
        <td>Nombre 40</td>
        <td>0</td>
      </tr>
    </table>
  </div>
  <div class="col-md-8">
    <h3>Reglamento</h3>
    <pre>
<h4>
CRL  - REGLAMENTO DE RANKING DE RETOS (SINGLES)
APLICABLE UNICAMENTE A LOS JUGADORES DE LA MAÑANA
</h4>
<ol>
<li>El propósito del ranking de retos es determinar las posiciones que ocupan los jugadores diariamente.</li>
<li>El ranking de retos concluye cada 30 de junio y cada 30 de diciembre, fechas en la que se determinan las posiciones obtenidas por los jugadores en cada semestre.</li>
<li>El ranking de retos varía de acuerdo a los resultados de los retos y son los que determinarán la ubicación de cada jugador.</li>
<li>El ranking de retos varía de acuerdo a los resultados de los retos y son los que determinarán la ubicación de cada jugador.</li>
<li>Solamente existe una categoría establecida para el ranking individual.</li>
<li>Todos los partidos de individuales (singles) son válidos para el ranking de retos.</li>
<li>La Comisión queda facultada para ubicar inicialmente y reubicar de categoría a los jugadores que considere que se encuentren en un nivel distinto al vigente de ubicación, así como a los nuevos inscritos. Si alguna persona desea incorporarse al Ranking de Retos deberá comunicar su solicitud a la Comisión o a través de uno de los participantes. La comisión se pronunciará sobre la procedencia o no de dicha solicitud en el término de tres días útiles como máximo. De ser positiva la respuesta, la Comisión, le hará llegar al nuevo integrante el mail de bienvenida, con una copia del reglamento.</li>
<li>El ranking se depurará  el 01 de julio y el 01 de diciembre de cada año.  En esta fecha se elimina del ranking a los jugadores que no han participado en ningún partido de individuales.</li>
<li>El número máximo de participantes será 40  jugadores.</li>
</ol>
<h4>RETO</h4>
<ol>
<li>El propósito de los retos es incentivar la competencia interna y obtener una continua actualización del nivel de juego. Los retos se llevan a cabo obligatoriamente en las mañanas (6:00 a.m. a 8:00 a.m.)</li>
<li>El reto es un derecho de todo jugador que consiste en retar a otro jugador clasificado en el ranking para disputar el lugar que ocupa este.</li>
<li>Reto, Consiste en retar a un jugador rankeado como máximo tres puestos inmediatos superiores. Si el retador gana al que está hasta tres lugares más arriba ocupa su lugar y el vencido y los demás jugadores ubicados debajo de ellos baja un puesto. Si el retador pierde bajará dos puestos.</li>
<li>Ningún jugador podrá retar en tanto el resultado de su reto inmediatamente anterior no haya sido publicado</li>
<li>El retador debe comunicar vía correo electrónico a todos los participantes su intención de retar a un jugador rankeado y comprar pelota nueva.  El jugador retado tiene  3 días calendario para aceptar el reto vía correo electrónico con copia a todos. El reto no podrá jugarse antes de transcurrido un día y en un plazo no mayor de 10 días calendario contados desde la aceptación del reto. Si el décimo día coincide con días sábado, domingo, lunes o feriado, debe aceptarse el reto para el día inmediato anterior, salvo acuerdo distinto entre retador y retado. Queda prohibida la suspensión o no aceptación del reto por viaje, enfermedad o cualquier otro motivo. El día y hora del reto lo fija el retado.</li>
<li>El Retado pierde por W.O. si no acepta el reto en el plazo señalado o no se lleva a cabo el reto por su inasistencia. Los retos se llevan a cabo de martes a viernes. El retado puede delegar en otro participante de los retos fije la fecha para el reto, siempre y cuando el retado lo haga de conocimiento previo al administrador del Ranking de Retos.</li>
<li>Si luego que el retado haya fijado fecha para el reto, este o el retador solicitan modificarla, la contraparte puede o no aceptar el cambio. El cambio de fecha sólo surtirá efectos si es acordado de mutuo acuerdo por ambas partes y es comunicado al administrador vía correo electrónico con copia a todos dentro de las 24 horas de pactado. La omisión de comunicarlo dentro del plazo señalado dará como ganador del partido por W.O. al jugador que le pidieron modificar la fecha. La nueva fecha tendrà que pactarse necesariamente dentro de los 10 días calendario contados desde la aceptación inicial del reto.</li>
<li>Los jugadores están obligados a informar al administrador de la tabla el resultado de su partido, inmediatamente después de terminado éste. Las formas de informar son a través de correo electrónico dirigido al grupo o al administrador de la tabla ó a éste último por teléfono </li>
<li>El retador es el responsable de proporcionar las pelotas (nuevas).</li>
<li>Los retos se llevan a cabo siguiendo un orden de acuerdo a las fechas en que han sido solicitados. La modalidad de juego es al ganador de tres sets (3/5).</li>
<li>Un jugador puede solicitar un máximo de dos (2) retos al mes; además, no puede volver a retar al mismo jugador antes de los 30 días siguientes contados desde la fecha que se hizo el reto</li>
<li>El reto arriesgado consiste en la facultad de retar a cualquier jugador, sin importar la diferencia de puestos en el Ranking. Puede ser usado una sola vez por cada jugador dentro de cada semestre. Si el retador gana ocupa el puesto del retado, si el retador pierde baja 5 puestos en el Ranking. El reto arriesgado no es considerado dentro de los 2 retos mensuales.</li>
<li>El jugador que requiera un árbitro para el partido, debe contratarlo por su propia cuenta.</li>
<li>La Comisión, determinará las fechas en las cuales se suspenden los retos por razón de estarse jugando un torneo.</li>
<li>El único organismo para resolver cualquier controversia respecto a la interpretación de este Reglamento es la Comisión. Su decisión es inapelable y no requiere de fundamentación.</li>
<li>Todo jugador que no rete durante dos meses será retirado del Ranking.</li>
</ol>
    </pre>
  </div>
</div>
{% endblock %}
